.have-account {
    color: #37A6DE;
    font-family: Alexandria;
    font-size: clamp(16px, 2.5vw, 23px);
    font-style: normal;
    text-align: center;
    font-weight: 500;
    line-height: 1; /* Using unitless value for better responsiveness */
    text-decoration-line: underline;
    text-decoration-style: solid;
    text-decoration-skip-ink: auto;
    text-decoration-thickness: auto;
    text-underline-offset: auto;
    text-underline-position: from-font;
    text-transform: capitalize;
    transition: color 0.3s ease;
}


.have-account:hover {
    color: #5db5df;
    text-decoration-thickness: 2px;
}