.svg-pulse-animation {
    animation: svgPulse 2s ease-in-out infinite alternate;
  }
  
  @keyframes svgPulse {
    0% {
      transform: translateX(0);
    }
    50% {
      transform: translateX(5px); /* Move 5px to the right in LTR, left in RTL */
    }
    100% {
      transform: translateX(0);
    }
  }


 