<div
  *ngIf="testimonials.length > 0"
  class="!overflow-x-hidden w-full px-4 md:px-0 mx-auto cursor-grab bg-white overflow-hidden"
  role="region"
  aria-label="Customer Testimonials Carousel"
>
  <div class="flex flex-col items-start mx-8 my-4">
    <div class="flex flex-col">
      <app-heading
        className="!text-[#174A77]"
        [headingText]="'testimonials' | translate"
        [showStartSvg]="false"
        [showEndSvg]="true"
      ></app-heading>
    </div>
    <div class="testimonial-heading lg:-mt-20 w-[450px]">
      {{ "what_say" | translate }}
    </div>
  </div>
  <owl-carousel-o
    [options]="customOptions"
    (translated)="getData($event)"
    (initialized)="getData($event)"
    #owlTestimonials
  >
    <ng-container *ngFor="let testimonial of testimonials; let i = index">
      <ng-template carouselSlide [id]="`${testimonial.id}+${i}`">
        <div
          class="testimonial-slide mx-auto md:gap-4 md:flex rounded-35 py-10 px-8 relative bg-[#EDF9FF] flex-col"
          [attr.aria-roledescription]="'slide'"
          [attr.aria-label]="
            'Testimonial ' + (i + 1) + ' by ' + getName(testimonial)
          "
          role="group"
          [attr.aria-labelledby]="'testimonial-name-' + testimonial.id"
          [attr.aria-describedby]="'testimonial-text-' + testimonial.id"
        >
          <div class="flex justify-between">
            <div>
              <p
                class="g text-[#79C7EE]"
                [id]="'testimonial-name-' + testimonial.id"
              >
                {{ getName(testimonial) }}
              </p>
              <p class="testimonial-text leading-1.5">
                {{ getPosition(testimonial) }}
              </p>
            </div>
            <div class="">
              <img
                class="w-full h-full object-contain"
                src="assets/testimonials/testimonial.png"
                [alt]="getName(testimonial)"
                loading="lazy"
              />
            </div>
          </div>
          <hr class="border-[3px] w-56 text-white my-3" />
          <p
            class="testimonial text-[#79C7EE]  z-10"
            [id]="'testimonial-text-' + testimonial.id"
          >
            {{ getText(testimonial) }}
          </p>

          <div
            class="shape absolute w-21 h-16 bg-[#EDF9FF] transform rotate-45 end-12 -bottom-[14px]"
            aria-hidden="true"
          ></div>
        </div>
      </ng-template>
    </ng-container>
  </owl-carousel-o>

  <div
    id="testimonial-live-region"
    class="sr-only"
    aria-live="polite"
    aria-atomic="true"
  ></div>
</div>
