/* White Line */
.white-line {
    width: 5rem;
    height: 5px;
    background-color: white;
    margin-bottom: 1rem;
  }



  
  /* Button Container */
  .button-container {
    display: flex;
    justify-content: center;
  }
  
  /* Read More Button */
  .read-more-button {
    width: 13rem;
    height: 3.5rem;
    background-color: #0c4a6e;
    border-top-left-radius: 30px;
    border-top-right-radius: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    transition: background-color 0.3s ease;
  }
  
  .read-more-button:hover {
    background-color: #075985;
  }
  
  /* Button Text */
  .button-text {
    color: white;
    font-size: 1.125rem;
    font-weight: normal;
    font-family: 'Alexandria', sans-serif;
    text-transform: capitalize;
    line-height: 1.75;
  }




  /* In your CSS file (e.g., style.css or a <style> tag if testing locally) */
.custom-partial-border {
    border-bottom: 6px solid transparent; /* Set a transparent border to reserve space */
    border-image: linear-gradient(to right, #f7f6f3 70%, transparent 60%) 1;
    
  }


  .blog-slide{
    margin:0 auto;
    width: minmax(280px, 415px) !important;
    transition: all .6s ease-in-out;
  }

  

::ng-deep .blogs-slider .owl-theme .owl-nav{
    position:absolute;
    top:50%;
    width:100%;
    display: flex;

    padding: 0 8px;
    justify-content: space-between;
    align-items: center;
    z-index: 10;
transform: translateY(-50%);
}

::ng-deep .blogs-slider .owl-carousel .owl-nav .owl-next {
background-color: black !important;
width:30px;
height:30px;
border-radius: 50%;
display:flex;
justify-content: center;
align-items: center;
cursor: pointer;
font-size: 20px;
font-weight: bold;
}
::ng-deep .blogs-slider .owl-carousel .owl-nav .owl-prev {
background-color: black !important;
width:30px;
height:30px;
border-radius: 50%;
display:flex;
justify-content: center;
align-items: center;
cursor: pointer;
font-size: 20px;
font-weight: bold;
} 


::ng-deep .blogs-slider  .owl-stage{
  padding-top: 100px; /* Adjust as needed */
}
 ::ng-deep .owl-item.center .blog-slide{
    z-index: 20;
    /* border-radius: 100px 0 100px 100px; */
    background-color: #7FDED8;
transform: translateY(-40px);
    transition: .8s border-radius;


}
 ::ng-deep .owl-item.center .blog-slide .custom-partial-border{
  /* background-color: #37A6DE; */
border-image: linear-gradient(to right, #37A6DE 70%, transparent 60%) 1;

}
.blogs-slider, ::ng-deep .owl-carousel {
  overflow: visible !important;
}



/* ::ng-deep .owl-item:not(.active) {
    opacity: 0.0;
    transition: opacity 0.5s; 
} */





