<div class="p-4 md:p-12 lg:p-20 bg-[linear-gradient(rgba(239,248,255,0.905),rgba(239,248,255,0.884)),url('assets/about/history-2.jpg')] bg-no-repeat bg-center bg-cover">

    <div class="flex flex-col gap-8 md:flex-row  md:gap-12 items-center capitalize">
        <div class="flex-1">
          <img src="assets/about/main-about.png" alt="" class="w-full h-full object-cover" />
        </div>
        <div class="flex-1 flex flex-col  text-center  md:text-left items-center  md:items-start gap-[35px] w-full h-full">
          <div class="flex items-center gap-1 ">
            <div class="flex justify-center items-center mt-1">
                <svg
                class="-me-4"
                xmlns="http://www.w3.org/2000/svg"
                width="24"
                height="24"
                viewBox="0 0 24 24"
                fill="none"
              >
                <path
                  d="M14.2891 5.70696C13.8986 5.31643 13.2655 5.31643 12.8749 5.70696L7.98743 10.5992C7.20704 11.3804 7.20735 12.6462 7.98812 13.4269L12.8785 18.3173C13.2691 18.7078 13.9022 18.7078 14.2928 18.3173C14.6833 17.9268 14.6833 17.2936 14.2928 16.9031L10.1071 12.7174C9.71653 12.3269 9.71653 11.6938 10.1071 11.3032L14.2891 7.12117C14.6797 6.73065 14.6797 6.09748 14.2891 5.70696Z"
                  fill="#174A77"
                />
              </svg>
              <svg
              
                xmlns="http://www.w3.org/2000/svg"
                width="24"
                height="24"
                viewBox="0 0 24 24"
                fill="none"
              >
                <path
                  d="M14.2891 5.70696C13.8986 5.31643 13.2655 5.31643 12.8749 5.70696L7.98743 10.5992C7.20704 11.3804 7.20735 12.6462 7.98812 13.4269L12.8785 18.3173C13.2691 18.7078 13.9022 18.7078 14.2928 18.3173C14.6833 17.9268 14.6833 17.2936 14.2928 16.9031L10.1071 12.7174C9.71653 12.3269 9.71653 11.6938 10.1071 11.3032L14.2891 7.12117C14.6797 6.73065 14.6797 6.09748 14.2891 5.70696Z"
                  fill="#3BA7DE"
                />
              </svg>
             
            </div>
            <div class="text-[#5DB5DF] text-2xl md:text-35 font-bold">about us</div>
          </div>
          <h2 class="about-heading">we’re providing best insurance policy</h2>
          <p class="about-text ">
            Capital Insurance Brokerage is an Egyptian insurance broker established in 2018 and licensed under No. 78 by the Financial Regulatory Authority (FRA). We operate under Law No. 10 of 1981 and Companies Law No. 159 of 1981, providing compliant, transparent, and client-focused insurance solutions across the Egyptian market.
          </p>
      
      
          <div class="w-full flex flex-col gap-4 items-center md:flex-row justify-around  mt-12">
            
              <div class="w-[235px] flex flex-col gap-2 md:gap-4 justify-center items-center">
                <div>
                  <img src="assets/about/about-icon-1.png" alt="">
                </div>
                <div class="small-about-title">fast & easy process</div>
                <div class="small-about-text">
                  deliver comprehensive, technology-driven insurance services with excellence and integrity                </div>
              </div>
              <div class="w-[235px] flex flex-col gap-4 justify-center items-center">
                <div>
                  <img src="assets/about/about-icon-2.png" alt="">
                </div>
                <div class="small-about-title">control over policy</div>
                <div class="small-about-text">
                  leading and most trusted insurance partner in Egypt,
                  Providing reliable protection and proactive risk management                </div>
               
            </div>
        </div>
      
      
      
      </div>
      
</div>
