<div class="flex md:p-4 flex-col md:flex-row gap-6 md:gap-12 py-12 w-full max-w-7xl mx-auto" @formAnimation>
    <div class="flex px-4  flex-1 flex-col gap-4 w-full md:w-1/2 lg:w-1/3">
      <form [formGroup]="forgotPasswordForm" (ngSubmit)="submition()" novalidate @inputAnimation [@shake]="shakeState()">
        <!-- Email -->
        <div class="flex flex-col mb-2">
          <div>
            <input
              formControlName="email"
              type="email"
              id="email"
              class="general-input w-full border border-gray-300 rounded-lg px-4 py-3 focus:outline-none focus:ring-2 focus:ring-blue-500"
              [placeholder]="'pages.auth.forgot-password.email-placeholder' | translate"
              (focus)="onEmailFocus()"
            />
          </div>
          <div class="error-container">
            @if (forgotPasswordForm.get('email')?.touched && forgotPasswordForm.get('email')?.invalid) {
              @if (forgotPasswordForm.get('email')?.hasError('required')) {
                <span class="error-message">{{ 'pages.auth.forgot-password.errors.email-required' | translate }}</span>
              } @else if (forgotPasswordForm.get('email')?.hasError('email') || forgotPasswordForm.get('email')?.hasError('pattern')) {
                <span class="error-message">{{ 'pages.auth.forgot-password.errors.email-invalid' | translate }}</span>
              }
            }
            @if (serverError()) {
              <span class="error-message">{{ serverError() }}</span>
            }
          </div>
        </div>
  
        <!-- Submit Button -->
        <div class="flex justify-between items-center">
          <button
            class="general-btn bg-blue-600 text-white py-2 px-16 rounded-lg hover:bg-blue-700 transition-colors"
            type="submit"
            [disabled]="isLoading()"
            [class.opacity-50]="isLoading()"
            [attr.aria-label]="'pages.auth.forgot-password.submit-button-aria-label' | translate"
          >
            @if (isLoading()) {
              <span>{{ 'Loading' | translate }}</span>
            } @else {
              {{ 'pages.auth.forgot-password.button' | translate }}
            }
          </button>
          <a
            [routerLink]="['/', currentLang$ | async, 'login']"
            class="have-account underline"
            [attr.aria-label]="'pages.auth.forgot-password.back-to-login' | translate"
          >
            {{ 'pages.auth.forgot-password.back-to-login' | translate }}
          </a>
        </div>
      </form>
    </div>
  
    <div class=" hidden md:flex flex-1 justify-center items-start w-full md:w-1/2 lg:w-2/3">
      <img
      loading="eager"
      fetchpriority="high"
        src="assets/profile/profile.jpg"
        alt="{{ 'pages.auth.forgot-password.image_alt' | translate }}"
        class="w-full max-h-[577px] object-cover rounded-[30px]"
        @imageAnimation
      />
    </div>
  </div>