<div class="flex md:p-4 flex-col md:flex-row gap-6 md:gap-12 py-12 w-full max-w-7xl mx-auto" @formAnimation>
    <div class="flex px-4 flex-1 flex-col gap-4 w-full md:w-1/2 lg:w-1/3">
      <form [formGroup]="resetForm" (ngSubmit)="submition()" novalidate @inputAnimation [@shake]="shakeState()">
        <!-- Email -->
        <div class="flex flex-col mb-2">
          <div>
            <input
              formControlName="email"
              type="email"
              id="email"
              class="general-input w-full border border-gray-300 rounded-lg px-4 py-3 focus:outline-none focus:ring-2 focus:ring-blue-500 bg-gray-100"
              [placeholder]="'pages.auth.reset-password.email-placeholder' | translate"
              readonly
            />
          </div>
        </div>
  
        <!-- Password -->
        <div class="flex flex-col mb-2">
          <div>
            <input
              formControlName="password"
              type="password"
              id="password"
              class="general-input w-full border border-gray-300 rounded-lg px-4 py-3 focus:outline-none focus:ring-2 focus:ring-blue-500"
              [placeholder]="'pages.auth.reset-password.password-placeholder' | translate"
              (focus)="onPasswordFocus()"
            />
          </div>
          <div class="error-container">
            @if (resetForm.get('password')?.touched && resetForm.get('password')?.invalid) {
              @if (resetForm.get('password')?.hasError('required')) {
                <span class="error-message">{{ 'pages.auth.reset-password.errors.password-required' | translate }}</span>
              } @else if (resetForm.get('password')?.hasError('minlength')) {
                <span class="error-message">{{ 'pages.auth.reset-password.errors.password-minlength' | translate }}</span>
              } @else if (resetForm.get('password')?.hasError('pattern')) {
                <span class="error-message">{{ 'pages.auth.reset-password.errors.password-pattern' | translate }}</span>
              }
            }
          </div>
        </div>
  
        <!-- Confirm Password -->
        <div class="flex flex-col mb-2">
          <div>
            <input
              formControlName="password_confirmation"
              type="password"
              id="password_confirmation"
              class="general-input w-full border border-gray-300 rounded-lg px-4 py-3 focus:outline-none focus:ring-2 focus:ring-blue-500"
              [placeholder]="'pages.auth.reset-password.confirm-password-placeholder' | translate"
              (focus)="onConfirmPasswordFocus()"
            />
          </div>
          <div class="error-container">
            @if (resetForm.get('password_confirmation')?.touched && resetForm.get('password_confirmation')?.invalid) {
              @if (resetForm.get('password_confirmation')?.hasError('required')) {
                <span class="error-message">{{ 'pages.auth.reset-password.errors.confirm-password-required' | translate }}</span>
              }
            }
            @else if (resetForm.errors?.['mismatch'] && resetForm.get('password_confirmation')?.touched) {
              <span class="error-message">{{ 'pages.auth.reset-password.errors.confirm-password-mismatch' | translate }}</span>
            }
          </div>
        </div>
  
        <!-- Submit Button -->
        <div class="flex justify-between items-center">
          <button
            class="general-btn bg-blue-600 text-white py-2 px-16 rounded-lg hover:bg-blue-700 transition-colors"
            type="submit"
            [disabled]="isLoading()"
            [class.opacity-50]="isLoading()"
            [attr.aria-label]="'pages.auth.reset-password.submit-button-aria-label' | translate"
          >
            @if (isLoading()) {
              <span>{{ 'Loading' | translate }}</span>
            } @else {
              {{ 'pages.auth.reset-password.button' | translate }}
            }
          </button>
       
        </div>
      </form>
    </div>
  
    <div class="hiden md:flex flex-1 justify-center items-start w-full md:w-1/2 lg:w-2/3">
      <img
      loading="eager"
      fetchpriority="high"
        src="assets/profile/profile.jpg"
        alt="{{ 'pages.auth.reset-password.image_alt' | translate }}"
        class="w-full max-h-[577px] object-cover rounded-[30px]"
        @imageAnimation
      />
    </div>
  </div>